/*****************************************/
/* clases relativas a contenedores       */
#pagina {
	position:absolute;
	background-color:#fff;
	font-family: helvetica;
	font-size:8pt;
	/*left:4%;*/
	width:100%;
}
#zonaLogo {
	position:absolute;
	top:0em;
	left:0em;
	width:20%;
	height:150px;
	background-color:#fff;
	text-align:center;
	vertical-align:middle;
}
#zonaMenu {
	position:absolute;
	top:150px;
	left:0em;
	width:80%;
	height:100%;
	background-color:#fff;	
}
#zonaContenido {
	position:fixed;
	top:0em;
	left:0%;
	width:100%;
	height:100%;
}
#localizacion {
	position:relative;
	top:3%;
	left:0%;
	width:100%;
}
#tituloForm {
	position:relative;
	top:4%;
	left:0%;
	width:85%;
}
#tituloForm2 {
	position:relative;
	top:4%;
	left:0%;
	width:100%;
}
#frmBusqueda {
	position:relative;
	top:5%;
	left:0%;
	width:85%;
	background-color:#f5f5f5;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
}
#frmBusqueda2 {
	position:relative;
	top:5%;
	left:0%;
	width:100%;
	background-color:#f5f5f5;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
}

#cuadroTotales {
	position:relative;
	top:5%;
	background-color:#f5f5f5;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
}

#frmBusqueda li {
	list-style-image:url(../img/error2.png);
	color:#000;
	text-transform:uppercase;
	text-align:left;
	height:20px;
	vertical-align:middle;
}
/*
#botonBusqueda {
	position:relative;
	top:5%;
	left:1%;
	width:80%;	
	text-align:right;
	margin-top:.5em;
	padding-top:1em;
/*	border-top:solid 1px #696969;	*//*
}
*/
#lineaResultado {
	position:relative;
	top:10%;
	left:0%;
	width:90%;	
}
#cabeceraResultado {
	position:relative;
	top:11%;
	left:0%;
	width:80%;	
}
#cabeceraResultado2 {
	position:relative;
	top:11%;
	left:0%;
	width:100%;	
}
.totalResultado  {
	background-color:#ff8c00;
	color:#fff;
}
#frmResultado {
	position:relative;
	top:11%;
	left:0%;
	width:80%;
/*
	background-color:#f5f5f5;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
*/
}
/*****************************************/
/* clases relativas a tablas             */
.header {
/*	background-color:#4ECC17;*/
	background: url("../img/headerTile.png") repeat-x scroll left top transparent;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	height:20px;
	vertical-align:middle;
	padding-top:3px;
}
.mensaje {
	background-color: #666666;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	height:20px;
	vertical-align:middle;
}
.mensajeminimo {
	background-color: #FF0000;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	height:20px;
	vertical-align:middle;
}
.cabeceraTabla {
	background-color:#5f5f5f;
	color:#fff;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}
.itemParTabla {
	background-color:#ccc;
}
.itemImparTabla {
	background-color:#f5f5f5;
}
/*****************************************/
/* clases relativas a hiperenlace        */
a:link {
	font:8pt verdana,arial;
	color:#000;
}
a:visited {
	font:8pt verdana,arial;
	color:#000;
}
a:hover {
	font:8pt verdana,arial;
	color:#ff8c00;
}
/*****************************************/
/* clases relativas a la fuente de texto */
.fuente8 {
	font:8pt helvetica;		
}
.aDerecha {
	text-align:right;
}
.aCentro {
	text-align:center;
}
/*****************************************/
/* clases relativas a objetos            */
.boton {
	color:#000;
	background-color:#dcdcdc;
	border-style:solid;
	border-color:#696969;
	border-width:1px 1px 1px 1px;
    font:bold 8pt helvetica;
    text-transform:lowercase;
    width:90px;
    height:15pt;
}

.botonprov {
	color:#000;
	background-color:#dcdcdc;
	border-style:solid;
	border-color:#696969;
	border-width:1px 1px 1px 1px;
    font:bold 8pt helvetica;
    text-transform:lowercase;
    width:130px;
    height:15pt;
}

.cajaPequena {
	background-color:#fff;
	font:8pt helvetica;	
	color:#000;
	width:85px;
	border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:17pt;
    padding: 1px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.cajaPequena2 {
	background-color:#fff;
	font:8pt helvetica;	
	color:#000;
	width:55px;
	border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:17pt;
	  padding: 1px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.cajaMinima {
	background-color:#fff;
	font:8pt helvetica;	
	color:#000;
	width:30px;
	border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:17pt;
    padding: 1px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */	
}

.cajaTotales {
	background-color:#FFD9B3;
	font:8pt helvetica;	
	color:#000;
	width:75px;
	border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:17pt;
	text-align:right;
    padding: 1px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */	
}

.cajaMedia {
	background-color:#fff;
	font:8pt helvetica;
	text-transform:uppercase;
	color:#000;
	width:150px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:17pt;
    padding: 1px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */	
}
.cajaGrande {
	background-color:#fff;
	font:8pt helvetica;
	text-transform:uppercase;
	color:#000;
	width:250px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:17pt;
    padding: 1px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.areaTexto {
	background-color:#fff;
	font:8pt helvetica;
	text-transform:uppercase;
	color:#000;
	/*width:250px;*/
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	/*height:15pt;*/
}
.comboPequeno {
	background-color:#fff;
	font:8pt helvetica;
	color:#000;
	width:75px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;
}
.comboMedio {
	background-color:#fff;
	font:8pt helvetica;
	color:#000;
	width:150px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;
}
.comboGrande {
	background-color:#fff;
	font:8pt helvetica;
	color:#000;
	width:250px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;
}

#botonBusqueda {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	/*font-size:15px;*/
	font-weight:bold;
	font-style:normal;

	line-height:6px;

	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	padding: 0;
}
#botonBusqueda:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 15%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
#botonBusqueda:active {
	position:relative;
	top:1px;
}


#ErrorBusqueda li {
	list-style-image:url(../img/error2.png);
	color:#000;
	text-transform:uppercase;
	text-align:left;
	height:20px;
	vertical-align:middle;
}

/*Scroll table*/
    .fixed-table-container {
      width: 100%;
      height: 290px;
      border: 0;
      margin: 0;

      /* above is decorative or flexible */
      position: relative; /* could be absolute or relative */
      padding-top: 39px; /* height of header */
    }

    .fixed-table-container-inner {
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
    }
     
    .header-background {

      height: 22px; /* height of header */
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin-top: 20px;
    }
    
    .table2 {
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .th-inner {
      position: absolute;
      top: 0;
      line-height: 20px; /* height of header */
      /*text-align: left;*/
      border-left: 0;
      padding-left: 5px;
      margin-left: -5px;
      color: #fff;
      margin-top: 20px;
    }
    
th {
    padding: 0px 5px;
        padding-top: 0px;
        padding-right-value: 5px;
        padding-bottom: 0px;
        padding-left-value: 5px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    text-align: left;
}