<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="http://code.eistiens.net/media/idf/css/yui.css" />
  <link rel="stylesheet" type="text/css" href="http://code.eistiens.net/media/idf/css/style.css" />
  <!--[if lt IE 7]>
  <link rel="stylesheet" type="text/css" href="http://code.eistiens.net/media/idf/css/ie6.css" />
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="http://code.eistiens.net/media/idf/css/prettify.css" />
  <title>G10/JSCal2-1.9/demopage.css - bicom-trimane Svn Source Tree - </title>
</head>
<body>
<center><img src="http://code.eistiens.net/media/aforge.png"></img></center>
<div id="doc3" class="yui-t1">
  <div id="hd">
<h1 class="project-title">bicom-trimane</h1>
    <p class="top"><a href="#title" accesskey="2"></a>
<a href="/forge/login/">Sign in or create your account</a>
 | <a href="/forge/">Project List</a>

| <a href="/forge/help/" title="Help and accessibility features">Help</a>
    </p>
<div id="header">
<div id="main-tabs">

  <a accesskey="1" href="/forge/p/bicom-trimane/">Project Home</a> 
  <a href="/forge/p/bicom-trimane/downloads/">Downloads</a> 
  <a href="/forge/p/bicom-trimane/doc/">Documentation</a> 
 <a href="/forge/p/bicom-trimane/issues/">Issues</a>
 <a href="/forge/p/bicom-trimane/source/tree/HEAD/" class="active">Source</a>
 <a href="/forge/p/bicom-trimane/review/">Code Review</a>

</div>


<div id="sub-tabs">
<a class="active" href="/forge/p/bicom-trimane/source/tree/HEAD/">Source Tree</a> |
<a href="/forge/p/bicom-trimane/source/changes/HEAD/">Change Log</a>
 |
<a href="/forge/p/bicom-trimane/source/help/">How To Get The Code</a>
</div>

</div>

	  <h1 class="title" id="title">bicom-trimane Svn Source Tree</h1>

  </div>
  <div id="bd">
    <div id="yui-main"> 
      <div class="yui-b">
	<div class="yui-g"> 
          
	  <div class="content">
<h2 class="top"><a href="/forge/p/bicom-trimane/source/tree/HEAD/">Root</a><span class="sep">/</span><span class="breadcrumb"><a href="/forge/p/bicom-trimane/source/tree/HEAD/G10">G10</a><span class="sep">/</span><a href="/forge/p/bicom-trimane/source/tree/HEAD/G10/JSCal2-1.9">JSCal2-1.9</a><span class="sep">/</span><a href="/forge/p/bicom-trimane/source/tree/HEAD/G10/JSCal2-1.9/demopage.css">demopage.css</a></span></h2>

<table class="code" summary=" ">

   
  <tfoot>
    
    
    <tr><th colspan="2">Source at commit <a class="mono" href="/forge/p/bicom-trimane/source/commit/HEAD/">HEAD</a> created 2 years 9 months  ago.<br />
        <span class="smaller">By savarystev, </span>
    </th></tr>
    
  </tfoot>
  
<tbody>
<tr class="c-line"><td class="code-lc" id="L1"><a href="#L1">1</a></td><td class="code mono prettyprint">body {</td></tr>
<tr class="c-line"><td class="code-lc" id="L2"><a href="#L2">2</a></td><td class="code mono prettyprint">&nbsp;&nbsp;font: 14px Arial,&quot;Lucida Grande&quot;,&quot;Arial&quot;,&quot;Tahoma&quot;,&quot;Verdana&quot;,sans-serif;</td></tr>
<tr class="c-line"><td class="code-lc" id="L3"><a href="#L3">3</a></td><td class="code mono prettyprint">}</td></tr>
<tr class="c-line"><td class="code-lc" id="L4"><a href="#L4">4</a></td><td class="code mono prettyprint"></td></tr>
<tr class="c-line"><td class="code-lc" id="L5"><a href="#L5">5</a></td><td class="code mono prettyprint">.properties .label {</td></tr>
<tr class="c-line"><td class="code-lc" id="L6"><a href="#L6">6</a></td><td class="code mono prettyprint">&nbsp;&nbsp;text-align: right;</td></tr>
<tr class="c-line"><td class="code-lc" id="L7"><a href="#L7">7</a></td><td class="code mono prettyprint">}</td></tr>
<tr class="c-line"><td class="code-lc" id="L8"><a href="#L8">8</a></td><td class="code mono prettyprint"></td></tr>
<tr class="c-line"><td class="code-lc" id="L9"><a href="#L9">9</a></td><td class="code mono prettyprint">h1 { font-size: 130%; text-align: center; }</td></tr>
<tr class="c-line"><td class="code-lc" id="L10"><a href="#L10">10</a></td><td class="code mono prettyprint"></td></tr>
</tbody>
</table>

<p class="right soft"><a href="/forge/p/bicom-trimane/source/file/HEAD/G10/JSCal2-1.9/demopage.css"><img style="vertical-align: text-bottom;" src="http://code.eistiens.net/media/idf/img/package-grey.png" alt="Archive" align="bottom" /></a> <a href="/forge/p/bicom-trimane/source/file/HEAD/G10/JSCal2-1.9/demopage.css">Download this file</a></p>

</div>
	</div>
      </div>
    </div>
    <div class="yui-b context">
<form class="star" action="/forge/p/bicom-trimane/source/treerev/" method="get">
<p><strong>Revision:</strong> HEAD</p>
<p>
    <input accesskey="4" type="text" value="HEAD" name="rev" size="5" />
    <input type="hidden" name="sourcefile" value="demopage.css"/>
    <input type="submit" name="s" value="Go to revision" /></p>
  </form>
</div>
  </div>
  <div id="ft"></div>
</div>
<script type="text/javascript" src="http://code.eistiens.net/media/idf/js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="http://code.eistiens.net/media/idf/js/jquery.hotkeys.js"></script>
<script type="text/javascript" charset="utf-8">
// <!--
jQuery.hotkeys.add('Shift+h',{disableInInput: true},function (){window.location.href='/forge/help/';});

jQuery.hotkeys.add('Shift+u',{disableInInput: true},function (){window.location.href='/forge/p/bicom-trimane/timeline/';});
jQuery.hotkeys.add('Shift+a',{disableInInput: true},function (){window.location.href='/forge/p/bicom-trimane/issues/create/';});
jQuery.hotkeys.add('Shift+i',{disableInInput: true},function (){window.location.href='/forge/p/bicom-trimane/issues/';});
jQuery.hotkeys.add('Shift+d',{disableInInput: true},function (){window.location.href='/forge/p/bicom-trimane/downloads/';});
jQuery.hotkeys.add('Shift+o',{disableInInput: true},function (){window.location.href='/forge/p/bicom-trimane/doc/';});
jQuery.hotkeys.add('Shift+s',{disableInInput: true},function (){window.location.href='/forge/p/bicom-trimane/source/tree/HEAD/';});
 //-->
</script>



<script type="text/javascript" src="http://code.eistiens.net/media/idf/js/prettify.js"></script>
<script type="text/javascript">prettyPrint();</script>


<script type="text/javascript" charset="utf-8">
//<![CDATA[
$(document).ready(function(){
	var frag = location.hash;
	if ($('#preview').length) {
		location.hash = '#preview';
	}
	else if (frag.length > 3 && frag.substring(0, 3) == '#ic') {
		$(frag).addClass("issue-comment-focus");
	}
});
//]]>
</script>
</body>
</html>
